<ion-content [fullscreen]="true" class="ion-padding">
<ion-text>
  <h1>Binvenido.</h1>
  <p>Comience iniciando sesión <br>con su cuenta.</p>
</ion-text> 
<div class="actions">
  <div class="login-buttons">
    <ion-button>
      <ion-avatar>
        <img src="../../../assets/images/image-facebook.png" alt="...">
      </ion-avatar>
      <ion-label> Facebook</ion-label>
    </ion-button>

    <ion-button>
      <ion-avatar>
        <img src="../../../assets/images/image-google.png" alt="...">
      </ion-avatar>
      <ion-label> Google</ion-label>
    </ion-button>
  </div>

  <div class="separator">
    <span>o</span>
    <span class="line left"></span>
    <span class="line rigth"></span>
  </div>
  <ion-button class="signup-btn" expand="block">Crear cuenta</ion-button>
<p class="login">Tengo cuenta <a> Ingresar ahora</a></p>
</div> 
</ion-content>
