ion-thumbnail{
    margin-left: -14px;
    height: 130px;
    width: 130px;
}

.img-producto{
    margin-top: -25px;
}


.nombre-producto {
    color: #2c3e44;
    font-size: 13px;
    font-weight:700;
}

.descripcion-producto{
    color: #868686;
    font-size: 10px;
    line-height: 1.2;
}

.marca-producto{
    margin-top: 8px;
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2;
}

.monto{
    color: #e7484f;
    font-weight:600;
    margin-top: 20px;
}

.simbolo-moneda{
    font-size: 12px;
}
.precio{
    font-size: 17px;
}

.boton-solicitar{
    --background: #34cc8c;
    --border-radius: 50px;
    text-transform: capitalize;
    font-weight:600;
    font-size: 13px;
}

.datos-producto{
    margin-top: -8px;
}

.iconCard{
    font-size: 28px;
    transform: translateX(-70%);
    margin-top: 12px;
    color: #868686;
}

.searchBar{
    --background: #f5f5f5;
}

.buttonCategories{
    --background: #ffffff;
    height:30px ;
    color: #000;
    text-transform: capitalize;
    font-weight: 200;
    margin-right: -12px;
}

.text-fecha-limite{
    font-size: 10px;
    color: #40aadd;
    font-weight: 600;
}

.badge-cantidad-pedidos{
    transform: translateY(-40px);
    margin-left: -5px;
    border-radius: 50%;
    font-size: 10px;
    background: #e7484f;
    color: #fff;
}




