<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="title" color="dark">Actividad</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="pb-5 mb-5" style="--padding-bottom: 70px;">
  <div class="ion-padding" >
    <h6>Hoy</h6>

    <!-- Notificacion Like Foto -->
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text">A <span class="nombreUsuarioCard">Luiggi Vargas</span> le a gustado tu foto. <span
              class="text-muted"> 2h</span></p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>

    <!-- Notificacion Comentario -->
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text"><span class="nombreUsuarioCard">Luiggi Vargas</span> a comentado: muy buen trabajo
            #developer. <span class="text-muted"> 2h</span></p>
          <p class="responder-notificacion">
            <ion-icon name="heart-outline" color="dark" class=" icon-coment mr-1"></ion-icon><span class="text-muted ">
              Responder</span>
          </p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>
  </div>
  <hr class="line">

  <div class="ion-padding">
    <h6>Ayer</h6>

    <!-- Notificacion Like Video -->
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text">A <span class="nombreUsuarioCard">Luiggi Vargas</span> le a gustado tu video IGTV.
            <span class="text-muted"> 1d</span></p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>

      <!-- Notificacion Seguir tambien -->
      <ion-item button lines="none">
        <ion-avatar slot="start" class="avatar-notification">
          <img src="../../../assets/images/user01.png">
        </ion-avatar>
        <ion-label>
          <ion-text color="dark" class="ion-text-wrap ">
            <p class="avatar-text">A <span class="nombreUsuarioCard">Luiggi Vargas</span> ha comenzado a seguirte.
              <span class="text-muted"> 3d</span></p>
          </ion-text>
        </ion-label>
        <ion-button class="avatar-button" size="small" slot="end" color="primary">
          <span class="text-button">Seguir</span>
          </ion-button>
      </ion-item>
  </div>
  <hr class="line">

  <div class="ion-padding">
    <h6>Esta semana</h6>
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text">A <span class="nombreUsuarioCard">Luiggi Vargas</span> le a gustado tu video IGTV.
            <span class="text-muted"> 1d</span></p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>
  </div>
  <hr class="line">

  <div class="ion-padding">
    <h6>Este mes</h6>
    <!-- Notificacion Comentario -->
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text"><span class="nombreUsuarioCard">Luiggi Vargas</span> a comentado: muy buen trabajo
            #developer. <span class="text-muted"> 2h</span></p>
          <p class="responder-notificacion">
            <ion-icon name="heart" color="danger" class=" icon-coment mr-1"></ion-icon><span class="text-muted ">
              Responder</span>
          </p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>


    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text">A <span class="nombreUsuarioCard">Luiggi Vargas</span> le a gustado tu video IGTV.
            <span class="text-muted"> 1sem</span></p>
        </ion-text>
      </ion-label>
      <ion-thumbnail slot="end" class="avatar-thumbnail">
        <img class="image-notification" src="../../../assets/images/baner02.PNG">
      </ion-thumbnail>
    </ion-item>
  </div>
  <hr class="line">

  <div class="ion-padding">
    <h6>Sugerencias para ti</h6>
    <!-- Notificacion Sugerencias -->
    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text" style="line-height: 1.2;">
            <span class="nombreUsuarioCard ">Luiggivargas096</span><br>
            <span class="text-muted span-sugerencias ">Luiggi Vargas</span><br>
            <span class="text-muted span-sugerencias ">Te sigue</span></p>
        </ion-text>
      </ion-label>
      <ion-button class="avatar-button" size="small" slot="end" color="primary">
        <span class="text-button">Seguir</span>
        </ion-button>
        <ion-icon name="close" color="dark" slot="end" class="icon-sugerencias"></ion-icon>
    </ion-item>


    <ion-item button lines="none">
      <ion-avatar slot="start" class="avatar-notification">
        <img src="../../../assets/images/user01.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="dark" class="ion-text-wrap ">
          <p class="avatar-text" style="line-height: 1.2;">
            <span class="nombreUsuarioCard ">Luiggivargas096</span><br>
            <span class="text-muted span-sugerencias ">Luiggi Vargas</span><br>
            <span class="text-muted span-sugerencias ">Te sigue</span></p>
        </ion-text>
      </ion-label>
      <ion-button class="avatar-button" size="small" slot="end" color="primary">
        <span class="text-button">Seguir</span>
        </ion-button>
        <ion-icon name="close" color="dark" slot="end" class="icon-sugerencias"></ion-icon>
    </ion-item>
  </div>
</ion-content>