<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listgroup">
      <ion-icon name="home-outline" color="dark"></ion-icon>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="tab2">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="duplicate-outline" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="heart-outline" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-avatar style="width: 32px;height: auto;">
        <img src="../../assets/imgs/user01.png">
      </ion-avatar>

    </ion-tab-button> -->
  </ion-tab-bar>


</ion-tabs>
