<!-- <ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->


 <div class="modal">
  <img src="../../../assets/images/user02.jpg" alt="">
  <div class="close"></div>
</div>

<div class="container">
  <div class="card">
      <div class="header">
          <div class="hamburger-menu">
              <div class="center"></div>
          </div>
          <a href="#" class="mail">
            <ion-icon name="mail-outline"></ion-icon>
          </a>
          <div class="main">
              <div class="image">
                  <div class="hover">
                    <ion-icon name="camera-outline"></ion-icon>
                  </div>
              </div>
              <h3 class="name">Luiggi vargas</h3>
              <h3 class="sub-name">luiggivargas096@gmail.com</h3>
          </div>
      </div>

      <div class="content">
          <div class="left">
              <div class="about-container">
                  <h3 class="title">Shoppero</h3>
                  <p class="text">Lorem Ipsum is simply text of the printing and types industry.</p>
              </div>
              <div class="icons-container">
                <a href="#" class="icon">
                  <ion-icon name="logo-facebook"></ion-icon>
              </a>
              <a href="#" class="icon">
                  <ion-icon name="logo-instagram"></ion-icon>
              </a>
              <a href="#" class="icon">
                  <ion-icon name="logo-google"></ion-icon>
              </a>
              <a href="#" class="icon">
                  <ion-icon name="logo-twitter"></ion-icon>
              </a>
              </div>
              <div class="buttons-wrap">
                  <div class="follow-wrap">
                      <a href="#" class="follow"><ion-icon name="logo-whatsapp" style="font-size: 20px;transform: translateY(5px);"></ion-icon><span> Contactar</span> </a>
                  </div>
              </div>
          </div>

          <div class="right">
              <div>
                  <h3 class="number">91</h3>
                  <h3 class="number-title">Posts</h3>
              </div>
              <div>
                  <h3 class="number">2.4K</h3>
                  <h3 class="number-title">Following</h3>
              </div>
              <div>
                  <h3 class="number">4.7K</h3>
                  <h3 class="number-title">Followers</h3>
              </div>
          </div>
      </div>
  </div>
</div>
